{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-info">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
      <th scope="col">Created At</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    {% if tasks %}
      {% for task in tasks %}
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.category }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.created_at }}</td>
          <td>{{ task.completed }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="7">No tasks found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}